@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="quest-container">
    <div style="display: flex; flex-direction:column;
            align-content:center;
            text-align:center;
            min-height: 30%;
            margin-bottom: 2rem;
            height: auto; ">

        <div style="background: #c8e2eb; padding: 12px; border-radius: 12px;">
            <h1 style="font-size: 2rem; font-weight:700;">Weekly LeaderBoard</h1>
            <label style="margin-top: 0.5rem">
                Complete more Quests to earn more DigiGall
                <br>Secure your place and
                <br>we'll see you in the next LeaderBoard Reset!
            </label>

            <div class="leaderboard-container">
              <div class="leaderboard-content">
                  <label style="margin-bottom: 3rem">Ben Ten</label>
                    <!-- Cicle-->
                    <div style="background: blue;
                          border-radius: 50%;
                          width: 4.5rem;
                          height: 4.5rem;
                          position: absolute;
                          top: 2.25rem;
                           z-index: 1">
                        <label></label>
                    </div>

                    <!-- Rounded Rectangle -->
                    <div style="
                          display: flex;
                          flex-direction: column;
                          background: #91A0B3;
                          padding: 12px;
                          border-top-left-radius: 10px;
                          border-top-right-radius: 10px;
                          width: 100%;
                          height: 150px;
                          align-items: center;
                          position: relative;
                      ">
                        <label style=" padding-top: 2.5rem; font-size: 1rem; color: #E7C54C">+14 Quests</label>
                        <label style="font-size: 2.5rem; color: white">3</label>
                    </div>
              </div>

                <div class="leaderboard-content">
                    <label style="margin-bottom: 3rem">Kevin Lie</label>
                    <!-- Cicle-->
                    <div style="background: blue;
                          border-radius: 50%;
                          width: 4.5rem;
                          height: 4.5rem;
                          position: absolute;
                          top: 2.25rem;
                           z-index: 1">
                        <label></label>
                    </div>

                    <!-- Rounded Rectangle -->
                    <div style="
                          display: flex;
                          flex-direction: column;
                          background: #1F3453;
                          padding: 12px;
                          border-top-left-radius: 10px;
                          border-top-right-radius: 10px;
                          width: 100%;
                          height: 200px;
                          align-content: center;
                          position: relative;
                      ">
                        <label style=" padding-top: 2.5rem; font-size: 1rem; color: #E7C54C">+14 Quests</label>
                        <label style="font-size: 2.5rem; color: white">1</label>
                    </div>
                </div>

                <div class="leaderboard-content">
                    <label style="margin-bottom: 3rem">Valenthresia</label>
                    <!-- Cicle-->
                    <div style="background: blue;
                          border-radius: 50%;
                          width: 4.5rem;
                          height: 4.5rem;
                          position: absolute;
                          top: 2.25rem;
                           z-index: 1">
                        <label></label>
                    </div>

                    <!-- Rounded Rectangle -->
                    <div style="
                          display: flex;
                          flex-direction: column;
                          background: #91A0B3;
                          padding: 12px;
                          border-top-left-radius: 10px;
                          border-top-right-radius: 10px;
                          width: 100%;
                          height: 150px;
                          align-items: center;
                          position: relative;
                      ">
                        <label style=" padding-top: 2.5rem; font-size: 1rem; color: #E7C54C">+14 Quests</label>
                        <label style="font-size: 2.5rem; color: white">2</label>
                    </div>
                </div>
            </div>
        </div>
       
    </div>


</div>