@{
    ViewData["Title"] = "Login Page";
}
@model User

<div class="auth-container">

    <!-- Left column-->
    <div class="auth-content" style="background: blue">
        <div class="auth-welcome">
            <label>Welcome</label>
            <img class="auth-welcome-image"
                 src="~/resources/digigall_transparent.png"
                 alt="DigiGall Logo" />
        </div>
       
    </div>

    <!-- Right column-->
    <div class="auth-content">
        <form asp-action="Login" method="post">
            <div class="text-center" style="font-size: 2rem; font-weight:500">
              <label>Login</label>
            </div>

            <div class="mb-3 form-group">
                <label class="form-label">Email</label>
                <input type="email" name="Email" class="form-control" required>
            </div>
            <div class="mb-4 form-group">
                <label class="form-label">Password</label>
                <input type="password" name="Password" class="form-control" required>
            </div>

            <span asp-validation-for="Email" class="text-danger"></span>
            @await Html.PartialAsync("_CustomButton", new DigiGall.Models.ButtonModel
            {
                Text = "Login",
                Class = "custom-button digi-btn-primary",
                Type = "submit",
                Attributes = "id='login-button'"
            })
        </form>
      
        <div class="mt-3 text-center">
            <label>Dont have an account?</label>
            <label>
                <a asp-controller="Auth" asp-action="Register">
                    Register
                </a>
            </label>
        </div>
        

    </div>
</div>