@{
    ViewData["Title"] = "Login Page";
}
@model AuthViewModel

<h1>Login</h1>

<div class="row">
    <!-- Left column-->
    <div class="col-md-4 login-reg-image">
        <label class="h5">Login-Image</label>
    </div>

    <!-- Right column-->
    <div class="col-md-8">
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="Name" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="Email" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="Password" class="form-control" required>
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
            @await Html.PartialAsync("_CustomButton", new DigiGall.Models.ButtonModel
            {
                Text = "Login",
                Class = "custom-button digi-btn-primary",
                Type = "submit",
                Attributes = "id='login-button'"
            })
        </form>
    </div>
</div>