@{
    ViewData["Title"] = "Register Page";
}

@model User

<div class="auth-container container">

    <!-- Left column-->
    <div class="auth-content" style="background: linear-gradient(to bottom, #7BB7FF, #FFE785);">
        <div class="auth-welcome">
            <label>Welcome</label>
            <img class="auth-welcome-image"
                 src="~/resources/digigall_transparent.png"
                 alt="DigiGall Logo" />
        </div>

    </div>

    <!-- Right column-->
    <div class="auth-content">
        <form asp-action="Register" method="post">
            <div class="text-center" style="font-size: 2rem; font-weight:500">
                <label>Register</label>
            </div>

            <div class="mb-2 form-group">
                <label class="form-label">Username</label>
                <input type="text" name="Name" class="form-control" required>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-2 form-group">
                <label class="form-label">Password</label>
                <input type="password" name="Password" class="form-control" required>
            </div>

            <div class="mb-2 form-group">
                <label class="form-label">Phone number</label>
                <input type="number" name="Phone" class="form-control" required>
            </div>

            <div class="mb-3 form-group">
                <label class="form-label">Date of birth</label>
                <input type="date" name="DateOfBirth" class="form-control" required>
            </div>

            @await Html.PartialAsync("_CustomButton", new DigiGall.Models.ButtonModel
           {
               Text = "Register",
               Class = "custom-button digi-btn-primary",
               Type = "submit",
               Attributes = "id='register-button'"
           })
        </form>

        <div class="mt-3 text-center">
            <label>Have an account?</label>
            <label>
                <a asp-controller="Auth" asp-action="Login">
                    Login
                </a>
            </label>
        </div>


    </div>
</div>