@font-face {
  font-family: 'CrimsonText';
  src: url("/resources/CrimsonText-Regular.ttf") format('truetype');
  font-weight: normal; /*regular*/
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonText';
  src: url("/resources/CrimsonText-SemiBold.ttf") format('truetype');
  font-weight: 500; /*medium*/
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonText';
  src: url("/resources/CrimsonText-Bold.ttf") format('truetype');
  font-weight: 700; /*bold*/
  font-style: normal;
}


html {
  font-size: 14px;
  font-family: Crimson;
  font-weight: 400;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    font-family: CrimsonText;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: CrimsonText;
}

.custom-button {
  width: 300px;
  color: white;
  padding: 10px 20px;
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.digi-btn-primary {
  background-color: #007bff;
}

.auth-container {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .auth-container {
    flex-direction: row;
  }
}

.auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.auth-welcome {
  display: flex;
  text-align: center;
  color: white;
  font-size: 2rem;
  flex-direction: column;
  font-weight: 500;
}

.auth-welcome-image {
  max-height: 250px;
  max-width: 250px;
}

.quest-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: normal;
  width: 100%;
  height: 100%;
  background: #B0D8E4;
  color: #212B48;
  padding: 2rem;
}

.house-button-container {
  display: flex;
  width: 100%;
}

.house-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border-radius: 5px;
  padding: 8px;
  color: white;
}